{
  "evernote": {
      "consumer_key":"your_key_here",
      "consumer_secret":"your_secret_here",
      "dev_token":"production_dev_token_here"
	},
  "imgur": {
      "client_id":"id",
      "client_secret":"your_secret_here"
	},
  "reddit": {
	  "clientID": "id",
      "redirectURI": "http://127.0.0.1:65010/authorize_callback",
      "clientSecret": "your_secret_here"
      "refresh_token": "your_token_here"
	},
  "readability": {
      "parser_key":"your_key_here"
    }
}

